{% block email_content %}
    <mjml>
        <mj-head>
            <mj-title>{{ 'jobeet.email.edit.title'|trans }}</mj-title>
            <mj-font name="Roboto" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500"></mj-font>
            <mj-attributes>
                <mj-all font-family="Montserrat, Helvetica, Arial, sans-serif"></mj-all>
                <mj-text font-weight="400" font-size="16px" color="#000000" line-height="24px"></mj-text>
                <mj-section padding="0px"></mj-section>
            </mj-attributes>
        </mj-head>
        <mj-body background-color="#F2F2F2">
            <mj-section padding="10px 0 20px 0">
                <mj-column>
                    <mj-text align="center" color="#9B9B9B" font-size="11px">{{ 'jobeet.email.edit.first_headline'|trans }}</mj-text>
                </mj-column>
            </mj-section>
            <mj-section padding="20px 20px 0 20px" background-color="#FFFFFF">
                <mj-column width="35%">
                    <mj-text align="left" font-size="20px" font-weight="500">{{ 'jobeet.email.edit.brand'|trans }}</mj-text>
                </mj-column>
                <mj-column width="65%">
                    <mj-text align="right" font-size="11px">
                        <a href="{{ path('homepage') }}" style="color: #000000; text-decoration: none;">{{ 'jobeet.email.edit.menu.homepage'|trans }}</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
                        <a href="{{ path('job_new') }}" style="color: #000000; text-decoration: none;">{{ 'jobeet.email.edit.menu.new'|trans }}</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
                    </mj-text>
                </mj-column>
            </mj-section>
            <mj-section padding="20px 20px 0 20px" background-color="#FFFFFF">
                <mj-column>
                    <mj-text align="center" font-weight="300" padding="30px 40px 10px 40px" font-size="32px" line-height="40px" color="#5FA91D">
                        {{ 'jobeet.email.edit.heading'|trans }}
                    </mj-text>
                </mj-column>
            </mj-section>
            <mj-section padding="10px 20px" background-color="#FFFFFF">
                <mj-column>
                    <mj-divider width="30px" border-width="3px" border-color="#9B9B9B"></mj-divider>
                </mj-column>
            </mj-section>
            <mj-section padding="0 20px 20px 20px" background-color="#FFFFFF">
                <mj-column width="80%">
                    <mj-text align="center" padding-top="10px" font-weight="500" padding="0px">
                        {{ 'jobeet.email.edit.subheading'|trans }}
                    </mj-text>
                </mj-column>
            </mj-section>
            <mj-section background-url="{{ absolute_url(asset('images/email/bg.jpg'))}}" vertical-align="middle" background-size="cover" background-repeat="no-repeat">
                <mj-column width="100%">
                    <mj-image src="{{ absolute_url(asset('images/email/lineshadow.png'))}}" alt="" align="center" border="none" padding="0px"></mj-image>
                    <mj-button align="center" background-color="#5FA91D" color="#FFFFFF" border-radius="2px" href="{{ absolute_url(path('job_preview', {'token' : job.token })) }}" inner-padding="15px 30px" padding-bottom="100px" padding-top="20px">
                        {{ 'jobeet.email.edit.preview'|trans }}
                    </mj-button>
                </mj-column>
            </mj-section>
            <mj-section padding="50px 0 0 0" background-color="#FFFFFF">
                <mj-column>
                    <mj-image src="{{ absolute_url(asset('images/email/bottom.png'))}}" alt="bottom border" align="center" border="none" padding="0px"></mj-image>
                </mj-column>
            </mj-section>
            {#<mj-section padding="10px 0 20px 0">#}
            {#<mj-column>#}
            {#<mj-text align="center" color="#9B9B9B" font-size="11px"><a href="#" style="color: #9B9B9B;">Unsubscribe</a> from this newsletter<br>52 Edison Court Suite 259 / East Aidabury / Cambodi<br> <a href="#" style="color: #9B9B9B; text-decoration:none;">Made by svenhaustein.de</a></mj-text>#}
            {#</mj-column>#}
            {#</mj-section>#}
        </mj-body>
    </mjml>
{% endblock %}
