<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <style>
                :root {
                    --jumbotron-padding-y: 3rem;
                }

                .jumbotron {
                    padding-top: var(--jumbotron-padding-y);
                    padding-bottom: var(--jumbotron-padding-y);
                    margin-bottom: 0;
                    background-color: #fff;
                }
                @media (min-width: 768px) {
                    .jumbotron {
                        padding-top: calc(var(--jumbotron-padding-y) * 2);
                        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
                    }
                }

                .jumbotron p:last-child {
                    margin-bottom: 0;
                }

                .jumbotron-heading {
                    font-weight: 300;
                }

                .jumbotron .container {
                    max-width: 40rem;
                }

                footer {
                    padding-top: 3rem;
                    padding-bottom: 3rem;
                }

                footer p {
                    margin-bottom: .25rem;
                }

                .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

                .custom-file-input {
                    opacity: 1
                }
            </style>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <header>
                {% block header %}
                    <div class="collapse bg-dark" id="navbarHeader">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-8 col-md-7 py-4">
                                    <h4 class="text-white">{{ 'jobeet.header.subtitle'|trans }}</h4>
                                    <p class="text-muted">{{ 'jobeet.header.description'|trans }}</p>
                                </div>
                                <div class="col-sm-4 offset-md-1 py-4">
                                    <h4 class="text-white">Menu</h4>
                                    <ul class="list-unstyled">
                                        <li><a href="{{ path('job_new') }}" class="btn btn-success">{{ 'jobeet.header.new' }}</a></li>
                                    </ul>
                                    <h4 class="text-white">Contact</h4>
                                    <ul class="list-unstyled">
                                        <li><a href="{{ 'jobeet.header.github_link' }}" class="text-white">Github repo</a></li>
                                        <li><a href="https://symfony.com/" class="text-white">Symfony</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="navbar navbar-dark bg-dark box-shadow">
                        <div class="container d-flex justify-content-between">
                            <a href="{{ path('homepage') }}" class="navbar-brand d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                                <h1><strong>{{ 'jobeet.header.title'|trans }}</strong></h1>
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                    </div>
                {% endblock header %}
            </header>

            <main role="main">
                {% block main %}
                {% endblock main %}
            </main>

            <footer class="text-muted">
                {% block footer %}
                    <div class="container">
                        <p class="float-right">
                            <a href="#">Back to top</a>
                        </p>
                        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
                        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
                    </div>
                {% endblock footer %}
            </footer>
        {% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
