{% macro render(category, jobs) %}
    {% block jumbotron %}
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">{% block jumbotron_heading %}{{ category.name }}{% endblock jumbotron_heading %}</h1>
                {% block jumbotron_content %}
                    {{ category.description|raw }}
                {% endblock jumbotron_content %}
            </div>
        </section>
    {% endblock %}

    {% block row %}
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    {% for job in jobs %}
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="{{ job.logo|displayLogoPath }}" alt="Card image cap">
                                <div class="card-body">
                                    {{ job.description|striptags|truncate(100, true) }}
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="{{ path('job_show', { 'id': job.id, 'company': job.companySlug, 'location': job.locationSlug, 'position': job.positionSlug }) }}" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                        </div>
                                        <small class="text-muted">{{ job.createdAt | time_diff }}</small>
                                    </div>
                                    <hr>
                                    <div class="alert alert-secondary" role="alert">
                                        {{ job.expiresAt > date() ? 'jobeet.job.expire_in'|trans : 'jobeet.job.expires_at'|trans }} {{ job.expiresAt | time_diff }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endblock %}
{% endmacro %}
